.movies {
  &__body {
    background-color: $background-color;

    @include respond(phone-large) {
      padding: 6rem 0rem;
    }
  }

  &__footer {
    height: 20rem;
    background-color: $background-color;
  }
}
