.search-film {
  background-color: $background-color;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;

  &__body {
    max-width: 120rem;
    margin: 8rem auto 0rem auto;
    min-height: calc(100vh - 8rem);
    padding: 2rem 0rem;

    @include respond(laptop-medium) {
      padding: 2rem;
    }

    @include respond(tablet) {
      padding: 3rem 2rem;
    }

    @include respond(phone-large) {
      padding: 2rem;
    }
  }

  &__results {
    list-style: none;

    display: grid;
    grid-template-columns: repeat(6, minmax(auto, 1fr));
    gap: 2rem;

    @include respond(laptop-medium) {
      grid-template-columns: repeat(5, minmax(auto, 1fr));
    }

    @include respond(tablet) {
      grid-template-columns: repeat(4, minmax(auto, 1fr));
    }

    @include respond(phone-large) {
      grid-template-columns: repeat(2, minmax(auto, 1fr));
    }
  }
}
