.popup {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;

  @include respond(laptop-medium) {
    padding: 0 6rem;
  }

  @include respond(phone-large) {
    padding: 0;
  }

  .content {
    background-color: rgb(31, 31, 31);
    border-radius: 0.4rem;
    width: 90rem;
    height: 80rem;
    padding: 2rem;

    @include respond(phone-large) {
      height: 100%;
      width: 100%;
    }
  }
}
