@keyframes sidebarAnimationOpen {
  0% {
    opacity: 0;
  }

  100% {
    transform: translateX(0rem);
    opacity: 1;
  }
}

@keyframes sidebarAnimationClose {
  0% {
    transform: translateX(0rem);
    opacity: 1;
  }

  100% {
    transform: translateX(-20rem);
    opacity: 0;
  }
}

@keyframes pulse {
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.4;
  }
}
