.u__animation--sidebar-open {
  @include respond(phone-large) {
    animation: sidebarAnimationOpen 0.4s linear forwards;
  }
}

.u__animation--sidebar-close {
  @include respond(phone-large) {
    animation: sidebarAnimationClose 0.4s linear forwards;
  }
}

.u__animation--pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.u__animation--popup-content-open {
  animation: popUpContentAnimationOpen 0.4s ease forwards;
}

.u__animation--popup-content-close {
  animation: popUpContentAnimationClose 0.4s ease forwards;
}

.u__animation--popup-open {
  animation: popUpAnimationOpen 0.4s ease forwards;
}

.u__animation--popup-close {
  animation: popUpAnimationClose 0.4s ease forwards;
}
