.u__animation--sidebar-open {
  @include respond(phone-large) {
    animation: sidebarAnimationOpen 0.4s linear forwards;
  }
}

.u__animation--sidebar-close {
  @include respond(phone-large) {
    animation: sidebarAnimationClose 0.4s linear forwards;
  }
}

.u__animation--pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.u__animation--popup-content-open {
  animation: popUpContentAnimationOpen 0.6s ease forwards;
}

.u__animation--popup-content-close {
  animation: popUpContentAnimationClose 0.6s ease forwards;
}

.u__animation--popup-open {
  animation: popUpAnimationOpen 0.6s ease forwards;
}

.u__animation--popup-close {
  animation: popUpAnimationClose 0.6s ease forwards;
}

.u__animation--search-open {
  animation: searchOpen 0.6s ease-out forwards;
}

.u__active--page {
  padding-bottom: 0.1rem;
  border-bottom: 1px solid white;

  @include respond(phone-large) {
    border-bottom: 0px solid white;
  }
}

.u__overlay--cover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: transparent;
  border-radius: 0.4rem;
}
