.header-film {
  &__details {
    max-width: 120rem;
    margin: 0 auto;
    height: inherit;
    display: flex;
    align-items: end;

    @include respond(laptop-medium) {
      padding: 0rem 2rem;
    }
  }

  &__data {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    margin-bottom: 0rem;
    font-size: 1.6rem;

    @include respond(tablet) {
      margin-bottom: -0.6rem;
    }

    @include respond(phone-large) {
      font-size: 1.4rem;
    }

    @include respond(phone-medium) {
      margin-bottom: -0.8rem;
    }
  }

  &__star {
    font-size: 2rem;
    display: inline;
    transform: translateY(-0.15rem);
    color: yellow;

    @include respond(tablet) {
      transform: translateY(-0.3rem);
    }

    @include respond(phone-large) {
      transform: translateY(-0.4rem);
    }
  }

  &__texts {
    height: 24rem;
    width: 100%;

    @include respond(laptop-medium) {
      height: 16rem;
    }

    @include respond(tablet) {
      height: fit-content;
    }
  }

  &__genres {
    display: flex;
    gap: 0.6rem;
    flex-wrap: wrap;
    margin-top: 1.2rem;

    @include respond(tablet) {
      margin-top: 0.6rem;
    }

    @include respond(phone-large) {
      margin-top: 0rem;
    }
  }
}
