.search-film-loader {
  list-style-type: none;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  // grid-template-rows: repeat(3, 36rem);
  gap: 2rem;

  @include respond(laptop-medium) {
    grid-template-columns: repeat(5, 1fr);
  }

  @include respond(tablet) {
    grid-template-columns: repeat(4, 1fr);
  }

  @include respond(phone-large) {
    grid-template-columns: repeat(2, 1fr);
  }
}
