.header-loader {
  height: 100vh;
  width: 100vw;
  background-color: black;

  @include respond(laptop-medium) {
    height: 90vh;
  }

  @include respond(tablet) {
    height: 80vh;
  }

  @include respond(phone-large) {
    height: 60vh;
  }

  &__details {
    max-width: 120rem;
    margin: 0 auto;
    height: inherit;
    display: flex;
    align-items: end;

    @include respond(laptop-medium) {
      padding: 0rem 2rem;
    }
  }

  &__movie-texts {
    height: 24rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @include respond(laptop-medium) {
      height: 22rem;
    }

    @include respond(tablet) {
      height: 18rem;
    }

    @include respond(phone-large) {
      height: 16rem;
    }
  }

  &__movie-data {
    background-color: rgb(78, 78, 78);
    width: 14rem;
    height: 2rem;
    border-radius: 0.4rem;
  }

  &__movie-title {
    background-color: rgb(78, 78, 78);
    width: 40rem;
    height: 4.4rem;
    border-radius: 0.4rem;

    @include respond(phone-large) {
      width: 24em;
    }
  }

  &__movie-genres {
    display: flex;
    gap: 1rem;
  }

  &__movie-genre {
    background-color: rgb(78, 78, 78);
    width: 8rem;
    height: 3rem;
    border-radius: 0.4rem;
  }
}
