.popup-items-loader {
  list-style-type: none;
  overflow-y: auto;
  padding-right: 1rem;

  display: grid;
  grid-template-columns: repeat(4, minmax(auto, 1fr));
  grid-template-rows: repeat(4, 1fr);
  justify-items: center;
  gap: 3rem;

  @include respond(tablet) {
    gap: 2rem;
  }

  @include respond(phone-large) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 1fr);
    justify-items: center;
    padding-right: 0rem;
  }
}
